<div class="mat-elevation-z2">
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let row">{{row.id}}</td>
    </ng-container>

    <!-- Standard Column -->
    <ng-container matColumnDef="standard">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Selection Standards</th>
      <td mat-cell *matCellDef="let row">{{row.standard}}</td>
    </ng-container>

    <!-- Points Column -->
    <ng-container matColumnDef="points">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Points</th>
      <td mat-cell *matCellDef="let row">{{row.points}}</td>
    </ng-container>

    <!-- Experience Column -->
    <ng-container matColumnDef="experience">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Experience</th>
      <td mat-cell *matCellDef="let row">{{row.experience}}</td>
    </ng-container>

    <!-- Education Column -->
    <ng-container matColumnDef="education">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Education</th>
      <td mat-cell *matCellDef="let row">{{row.education}}</td>
    </ng-container>
    <!-- Max Points Column -->
    <ng-container matColumnDef="maximumPoints">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Maximum Points</th>
      <td mat-cell *matCellDef="let row">{{row.maximumPoints}}</td>
    </ng-container>

    <!-- Age Column -->
    <ng-container matColumnDef="age">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Age</th>
      <td mat-cell *matCellDef="let row">{{row.age}}</td>
    </ng-container>
    <!-- First Language Column -->
    <ng-container matColumnDef="firstLanguage">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>First Language</th>
      <td mat-cell *matCellDef="let row">{{row.firstLanguage}}</td>
    </ng-container>

    <!-- Second Language Column -->
    <ng-container matColumnDef="secondLanguage">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Second Language</th>
      <td mat-cell *matCellDef="let row">{{row.secondLanguage}}</td>
    </ng-container>

    <!-- Partner Education Level Column -->
    <ng-container matColumnDef="partnerEducation">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Partner level of education</th>
      <td mat-cell *matCellDef="let row">{{row.partnerEducation}}</td>
    </ng-container>

    <!-- Proficiency Column -->
    <ng-container matColumnDef="proficiency">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Proficiency</th>
      <td mat-cell *matCellDef="let row">{{row.proficiency}}</td>
    </ng-container>

    <!-- Work Column -->
    <ng-container matColumnDef="work">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Work</th>
      <td mat-cell *matCellDef="let row">{{row.work}}</td>
    </ng-container>

    <!-- Relatives Column -->
    <ng-container matColumnDef="relatives">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Relatives</th>
      <td mat-cell *matCellDef="let row">{{row.relatives}}</td>
    </ng-container>

    <!-- Study Column -->
    <ng-container matColumnDef="study">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Study</th>
      <td mat-cell *matCellDef="let row">{{row.study}}</td>
    </ng-container>







    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource?.data.length"
      [pageIndex]="0"
      [pageSize]="50"
      [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
</div>
